.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .InventoryTable {
  display: flex;
  overflow-y: scroll;
  max-height: 800px;
  width: 100%;
  margin-top: 85px;
} */
/* .Inventory_table {
  border-collapse: collapse;
  margin: auto;
  font-size: 16px;
  width: 98%;
  height: auto;
  font-family: "roboto", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0.15);
}
.Inventory_table thead {
  position: sticky;
  top: 0;
} */
/* .Inventory_table thead tr {
  background-color: #ffa500;
  color: #ffffff;
  text-align: left;
}
.Inventory_table thead tr th {
  text-align: center;
  vertical-align: middle;
  padding: 14px 25px;
}
.Inventory_table tbody tr td {
  text-align: center;
  vertical-align: middle;
  padding: 14px 25px;
} */
/* .Inventory_table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
  color: #141414;
  overflow-y: auto;
} */
/* .Inventory_table tbody tr :nth-of-type(even) {
  background-color: #f3f3f3;
}
.Inventory_table tbody tr:last-of-type {
  border-bottom: 2px solid #ffa500;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-edit {
  background-color: #008cba;
}
.btn-delete {
  background-color: #f44336;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
